* {
  margin: 0;
}

header {
  padding: 2%;
  height: 100px;
  width: 96%;
  background-color: salmon;
}

h1 {
  text-align: center;
  color: white;
}

.titre {
  font-size: 20px;
}

footer {
  text-align: center;
  height: 100px;
  width: 100%;
  background-color: salmon;
  padding-top: 5%;
  justify-content: center;
}

.test1 {
  margin-left: 6%;
  display: inline-block;
  padding-top: 5%;
  padding-bottom: 5%;
}

#c1, #c2 {
  text-align: center;
}

#c1 {
  background-color: #bdb3bd;
  width: 88%;
}

#c2 {
  background-color: #e8e5e8;
  width: 88%;
}

.test1 {
  width: 25%;

  padding-left: 0%;

  margin-top: 3%;

  margin-bottom: 3%;

  border: 0px solid black;

  border-radius: 8px;

  background-color: #e8e5e8;
}

h3 {
  margin-left: 30%;
  padding-bottom: 5%;
}


@media only screen and (max-width: 600px) {
      .test1 {
        width: 80%;
      }
    }
